{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="profile-highlight brown-text white-transparent">
        <div class="row">
            <div class="col-4">
                &nbsp;
            </div>
            <div class="col-4 profile-highlight text-centered orange-text">
                    <h2>Welcome</h2>
                    <hr>
            </div>
            <div class="col-4">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="profile-highlight centered">BookAnEntertainer allows you to find the right entertainer for every occasion</div>
        </div>
    </div>
{% endblock %}