/* FONTS */
body,
.community-name,
.publisher-nav-color{
    color:#7c6659;
    font-family: 'Righteous', cursive;
}
.orange-links{
    color:#dd6622;
    font-family: 'Righteous', cursive;
}
.text-centered{
    text-align:center;
}
.img-centered{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.navbar-brand{
    color:#dd6622;
}
.grey-text{
    color:#bab4b0;
    margin-right:1em;
}
.orange-text{
    color:#dd6622;
    margin-right:1em;
}
/*  NAVBAR */
.navbar-grey{
    background-color: #f3f3f3;
    color: #ffffff;
}
.navbar_grey_a_href_orange{
    color: #dd6622;
}
.nav-link{
    color:#7c6659;
}
.nav-link:hover{
    color: #dd6622;
}
/* ENTERTAINER PROFILE */
.ent_profile_image{
    xborder: 4px solid #bab4b0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#profile_body{
    margin-top:2em;
}
.row{
    margin-bottom:1em;
}
.tabbed{
    margin-top:1em;
}
.top-line{
    padding-top:1em;
}
/* BUTTONS */
.full_btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #dd6622;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 1em;
}
.full_btn:hover {
    xbackground: #bab4b0;
    box-shadow: 5px 5px 5px #bab4b0;
    text-decoration: none;
    margin-bottom: 1em;
}
.outline_btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #dd6622;
    font-size: 16px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #dd6622 2px;
    text-decoration: none;
}
.outline_btn:hover {
    text-decoration: none;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    xborder: solid #bab4b0 2px;
    xcolor: #bab4b0;
    box-shadow: 5px 5px 5px #bb6622;
}

#pills-profile-tab.active,
#pills-set-list-tab.active,
#pills-influences-tab.active,
#pills-setup-tab.active,
#pills-contact-tab.active{
    background-color: #dd6622;
}
/* IMAGES */
.carouselled{
    height: 400px;
    width: 100%;
    object-fit: cover; // here
    -o-object-fit: cover;
}
.carousel{
    margin-bottom: 1em;
}


/* FOOTER */
footer{
    text-align:center;
    color: #dd6622;
}