{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="profile-highlight brown-text white-transparent">
        <div class="row">
            <div class="col-4">
                &nbsp;
            </div>
            <div class="col-4">
                <form role="form" method="post" action="{% url 'accounts:login' %}" class="account-form">
                    <h2>Login</h2>
                    <hr>
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-orange btn-block">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-4">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="profile-highlight centered">In order to leave reviews on this site you must first register with <a href="https://disqus.com/profile/login/" target="_blank">disqus.com</a></div>
        </div>
    </div>
{% endblock %}