{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    <form role="form" method="post" action="{% url 'entertainers:create_profile' %}" class="account-form" enctype="multipart/form-data">
        <legend>Entertainer Profile</legend>
        <hr>
        <div class="row">
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col-10">
                <div class="row">
                    {% csrf_token %}
                    {% if form %}
                        {{ form | as_bootstrap }}
                    {% endif %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-orange btn-block">Create</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                &nbsp;
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script src="{% static "js/entertainer_create.js" %}"></script>
    <script>
        $(document).ready(function(){
            $('input[type=file]').addClass('btn-orange');
        });
    </script>
{% endblock %}