{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <div class="row">
        <div class="col-4">
            &nbsp;
        </div>
        <div class="col-4">
            {% if edit %}
                <form role="form" method="post" action="{% url 'entertainers:create_profile' pk %}" class="account-form">
            {% else %}
                <form role="form" method="post" action="{% url 'entertainers:create_profile' %}" class="account-form">
            {% endif %}

                <legend>Entertainer Profile</legend>
                <hr>
                {% csrf_token %}
                {% if form %}
                    {{ form | as_bootstrap }}
                {% endif %}
                <div class="form-group">
                    {% if edit %}
                        <button type="submit" class="btn btn-orange btn-block">Update</button>
                    {% else %}
                        <button type="submit" class="btn btn-orange btn-block">Create</button>
                    {% endif %}
                </div>
            </form>
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $('input[type=file]').addClass('btn-orange');
        });
    </script>
{% endblock %}