{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}
    <form role="form" method="post" action="{% url 'entertainers:edit_profile' pk %}" class="account-form">
        <legend class="legend-centre brown-text">Entertainer Profile Update</legend>
        <hr>
         <div class="row">
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col-10">
                <div class="row">
                    {% csrf_token %}
                    {% if form %}
                        {{ form | as_bootstrap }}
                    {% endif %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-orange btn-block">Update</button>
                    </div>
                </div>
            </div>
            <div class="col-1">
            &nbsp;
        </div>
        </div>

    </form>

{% endblock %}
{% block script %}
    <script src="{% static "js/entertainer_update.js" %}"></script>
{% endblock %}