{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="profile_body" class="container with-background-image1">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col carousel-container">
                        <div id="carouselProfileMedia" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image1.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image2.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image3.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image4.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image5.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Fifth slide">
                                </div>
                                <div class="carousel-item">
                                    {{ entertainer.soundcloud_audio_re_class | safe  }}
                                </div>
                                <div class="carousel-item">
                                    {{ entertainer.youtube_video_re_class | safe  }}
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselProfileMedia" role="button" data-slide="prev">
                                <span class="orange-text"><i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselProfileMedia" role="button" data-slide="next">
                                <span class="orange-text"><i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Indicators -->
                            <ol id="carousel-links">
                                <li data-target="#carouselProfileMedia" data-slide-to="0" class="active"><span class="orange-text  jump-to-links"><i class="fa fa-camera" aria-hidden="true"></i></span>Photos</li>
                                <li data-target="#carouselProfileMedia" data-slide-to="5"><span class="orange-text jump-to-links"><i class="fa fa-volume-up" aria-hidden="true"></i></span>Audio</li>
                                <li data-target="#carouselProfileMedia" data-slide-to="6"><span class="orange-text jump-to-links"><i class="fa fa-video-camera" aria-hidden="true"></i></span>Video</li>
                            </ol>
                    </div>
                </div>

            </div>
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-4 profile-highlight brown-text white-transparent">
                <div class="row">
                    <div class="col">
                        <img src="{{ entertainer.profile_image.url }}" class="img-fluid ent_profile_image img-centered" style="max-width:300px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-centered">
                        <h2>{{ entertainer.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">&nbsp;</div>
                    <div class="col-6 text-center like-dislike">
                        <table id="tbl-like-dislike">
                            <tr>
                                <td class="tbl-like-dislike-td">
                                    <span class="orange-text text-right"><a href="#" onClick="document.getElementById('like{{ entertainer.id }}').submit();"><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></a></span><span class="x1-3"> {{ entertainer.likes_total }}</span>
                                </td>
                                <td class="tbl-like-dislike-td">
                                    <span class="orange-text text-right"><a href="#" onClick="document.getElementById('dislike{{ entertainer.id }}').submit();"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i></a></span><span class="x1-3"> {{ entertainer.dislikes_total }}</span>
                                </td>
                            </tr>
                        </table>
                        <form id="like{{ entertainer.id }}" method="POST" action="{% url 'entertainers:like' entertainer.id %}">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                        <form id="dislike{{ entertainer.id }}" method="POST" action="{% url 'entertainers:dislike' entertainer.id %}">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </div>
                    <div class="col-3">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-home fa-2x" aria-hidden="true"></i></span> <span class="x1-3">{{ entertainer.location }}</span></p>
                    </div>
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-tags fa-2x" aria-hidden="true"></i></span> <span class="x1-3">{{ entertainer.description }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></span><span class="x1-3"> {{ entertainer.travel_distance }}</span></p>
                    </div>
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-eur fa-2x" aria-hidden="true"></i></span><span class="x1-3"> {{ entertainer.price_per_hour_str }}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="paypal_form_div">
                        {% if user.is_active %}
                            {{ entertainer.paypal_form.sandbox }}
                        {% else %}
                            <button type="button" class="btn btn-block full_btn" id="log-in-to-book">Log In To Book Us</button>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-block outline_btn" value="add_to_favourites"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Booking Info</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane white-transparent fade tab-contents show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row tabbed">
                            <div class="col-2 ent-info">
                                <h4>Bio:</h4>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12 profile-elem">
                                        Description: <span class="orange-text">{{ entertainer.description }}</span> Genre: <span class="orange-text">{{ entertainer.genre }}</span> Location: <span class="orange-text">{{ entertainer.location }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 profile-elem" id="entertainer_bio">
                                        <span class="orange-text">{{ entertainer.bio }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade white-transparent" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="row tabbed">

                            <div class="col-2 ent-info">
                                <h4>Reviews:</h4>
                            </div>
                            {% if user.is_active %}
                            <div class="col-10">
                                <div id="disqus_thread"></div>
                                <script>
                                    var disqus_config = function () {
                                        // Make the list of DISQUS comments relevant to the current profile
                                        this.page.identifier = 'entertainer-{{ entertainer.id }}'
                                    };
                                    (function() { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://bookanentertainer.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                    })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            </div>
                            {% else %}
                                <div class="col-10">
                                    <p>You must be logged in to make reviews. Click <a href="{% url 'accounts:login' %}" class=" ">here</a> to log in</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade white-transparent" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row tabbed">
                            <div class="col-2 ent-info">
                                <h4>Booking <br>Info:</h4>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-set-list-tab" data-toggle="pill" href="#pills-set-list" role="tab" aria-controls="pills-set-list" aria-selected="true">Set List</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-influences-tab" data-toggle="pill" href="#pills-influences" role="tab" aria-controls="pills-influences" aria-selected="true">Influences</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-setup-tab" data-toggle="pill" href="#pills-setup" role="tab" aria-controls="pills-setup" aria-selected="true">Setup Requirements</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                <div class="row top-line">
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12"><span class="orange-text">Price Range: </span><span class="brown-text">Contact For Rates</span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12"><span class="orange-text">Languages: </span><span class="brown-text">{{ entertainer.language_list_as_str }}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12"><span class="orange-text">Gig Length: </span><span class="brown-text">{{ entertainer.gig_length_as_str }}</span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12"><span class="orange-text">Music Classification: </span><span class="brown-text">{{ entertainer.music_type_as_str }}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-set-list" role="tabpanel" aria-labelledby="pills-set-list-tab">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <h4 class="grey-text">Set List</h4>
                                                        <p class="orange-text">{{ entertainer.set_list }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-influences" role="tabpanel" aria-labelledby="pills-influences-tab">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <h4 class="grey-text">Influences</h4>
                                                        <p class="orange-text">{{ entertainer.influences }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-setup" role="tabpanel" aria-labelledby="pills-setup-tab">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <h4 class="grey-text">Setup Requirements</h4>
                                                        <p class="orange-text">
                                                            {{ entertainer.set_up_requirements }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                <div class="col-12 ">
                                                    <h4 class="grey-text">Contact Us</h4>
                                                    <p class="orange-text">Form to go here</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/entertainer_profile.js" %}"></script>
{% endblock %}