{% extends 'base.html' %}
{% block content %}
    <h2>Book an Entertainer</h2>
    <p>Our very simple site</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for entertainer in entertainers %}
                <tr>
                    <td>{{ entertainer.title }}</td>
                    <td>{{ entertainer.desc_remove_underscore }}</td>
                    <td>{{ entertainer.init_cap_genre }}</td>
                    <td>{{ entertainer.init_cap_location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}