{% extends 'base.html' %}
{% block content %}
    <div id="profile_body" class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col carousel-container">
                        <div id="carouselProfileMedia" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image1.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image2.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image3.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image4.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100 img-centered carouselled" src="{{ entertainer.image5.url }}" class="img-fluid ent_profile_image" style="max-width:600px;" alt="Fifth slide">
                                </div>
                                <div class="carousel-item">
                                    {{ entertainer.soundcloud_audio_re_class | safe  }}
                                </div>
                                <div class="carousel-item">
                                    {{ entertainer.youtube_video_re_class | safe  }}
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselProfileMedia" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselProfileMedia" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Indicators -->
                            <ol>
                              <li data-target="#carouselProfileMedia" data-slide-to="0" class="active">Photos</li>
                              <li data-target="#carouselProfileMedia" data-slide-to="5">Audio</li>
                              <li data-target="#carouselProfileMedia" data-slide-to="6">Video</li>
                            </ol>
                        <p>photos audio video</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col">
                        <img src="{{ entertainer.profile_image.url }}" class="img-fluid ent_profile_image img-centered" style="max-width:300px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-centered">
                        <h2>{{ entertainer.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="orange-text text-centered"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i> 3 Reviews</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-home" aria-hidden="true"></i></span>{{ entertainer.location }}</p>
                    </div>
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-tags" aria-hidden="true"></i></span>{{ entertainer.description }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ entertainer.travel_distance }}</p>
                    </div>
                    <div class="col-6 right-side">
                        <p><span class="orange-text text-centered right-side"><i class="fa fa-eur" aria-hidden="true"></i></span>{{ entertainer.price_per_hour_str }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-block full_btn" value="book_us">Book Us</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-block outline_btn" value="add_to_favourites"><i class="fa fa-heart" aria-hidden="true"></i> Add to Favourites</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Booking Info</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row tabbed">
                            <div class="col-1">
                                <h4>Bio:</h4>
                            </div>
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-12 profile-elem">
                                        Description: <span class="orange-text">{{ entertainer.description }}</span> Genre: <span class="orange-text">{{ entertainer.genre }}</span> Location: <span class="orange-text">{{ entertainer.location }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 profile-elem">
                                        <span class="grey-text">{{ entertainer.bio }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        <div class="row tabbed">
                            <div class="col-2">
                                <h4>Reviews:</h4>
                            </div>
                            <div class="col-10">
                                <div id="disqus_thread"></div>
                                <script>
                                    var disqus_config = function () {
                                        // Make the list of DISQUS comments relevant to the current profile
                                        this.page.identifier = 'entertainer-{{ entertainer.id }}'
                                    };

                                    (function() { // DON'T EDIT BELOW THIS LINE
                                    var d = document, s = d.createElement('script');
                                    s.src = 'https://bookanentertainer.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                    })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row tabbed">
                            <div class="col-2">
                                <h4>Booking Info:</h4>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-set-list-tab" data-toggle="pill" href="#pills-set-list" role="tab" aria-controls="pills-set-list" aria-selected="true">Set List</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-influences-tab" data-toggle="pill" href="#pills-influences" role="tab" aria-controls="pills-influences" aria-selected="true">Influences</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-setup-tab" data-toggle="pill" href="#pills-setup" role="tab" aria-controls="pills-setup" aria-selected="true">Setup Requirements</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                <div class="row top-line">
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12"><span class="grey-text">Price Range:</span><span class="orange-text">Contact For Rates</span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12"><span class="grey-text">Languages:</span><span class="orange-text">{{ entertainer.language_list_as_str }}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-12"><span class="grey-text">Gig Length:</span><span class="orange-text">{{ entertainer.gig_length_as_str }}</span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12"><span class="grey-text">Music Classification:</span><span class="orange-text">{{ entertainer.music_type_as_str }}</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-set-list" role="tabpanel" aria-labelledby="pills-set-list-tab">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <h4 class="grey-text">Set List</h4>
                                                        <p class="orange-text">Song list available upon private request.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-influences" role="tabpanel" aria-labelledby="pills-influences-tab">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <h4 class="grey-text">Influences</h4>
                                                        <p class="orange-text">From Classical to Death Metal and everything in between</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-setup" role="tabpanel" aria-labelledby="pills-setup-tab">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <h4 class="grey-text">Setup Requirements</h4>
                                                        <p class="orange-text">
                                                            {{ entertainer.set_up_requirements }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                                <div class="col-12 ">
                                                        <h4 class="grey-text">Contact Us</h4>
                                                        <p class="orange-text">Form to go here</p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}