{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="entertainer-header" class="page-header">
        <h2>Listed Entertainers</h2>
    <hr>
    </div>
    <div id="listing-menu" class="filtered">
        <div id="listing-row" class="row">
            <div class="col-2 text-center">
                <span class="orange-text">Search For:</span>
            </div>
            <div id="filter-by-entertainer" class="col-4 text-center">
                <select id="entertainer-select" class="styled-select brown semi-square"></select>
            </div>
            <div id="filter-by-location" class="col-4 text-center">
                <select id="location-select" class="styled-select brown semi-square"></select>
            </div>
        </div>
    </div>
    <div class="card-deck row">
        {% for entertainer in entertainers %}
            <div class="col-3 ent-listing">
                <div class="card">
                    <img class="card-img-top" src="{{ entertainer.profile_image.url }}" class="img-fluid center-block img-thumbnail" style="max-height:150px;" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ entertainer.title }}</h4>
                        <p class="card-text">
                            {{ entertainer.bio_summary }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><a href="{% url 'entertainers:profile' entertainer.id %}">...Read More</a></small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script src="{% static "js/globals.js" %}"></script>
    <script src="{% static "js/listing.js" %}"></script>
{% endblock %}
