{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="listings-container">
        <div id="entertainer-header" class="page-header">
            <h2>Listed Entertainers</h2>
        <hr>
        </div>
        <div id="listing-menu" class="filtered">
            <div id="listing-row" class="row">
                <div id="filter-by-description" class="col-5 text-center">
                    <select id="description-select" class="styled-select orange semi-square"></select>
                </div>
                <div id="filter-by-location" class="col-5 text-center">
                    <select id="location-select" class="styled-select orange semi-square"></select>
                </div>
                <div class="col-2 text-center">
                    <button id="refine-button" class="btn-orange-no-hover">Refine Search</button>
                </div>
            </div>
            <div id="pagination" class="row">
                <div id="links" class="col-12 text-center">
                    Page:
                    <a href="#" class="listing-pager">1</a> |
                    <a href="#" class="listing-pager">2</a>
                </div>
            </div>
        </div>

        <div id="REST-data" class="card-deck row"></div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static "js/globals.js" %}"></script>
    <script src="{% static "js/talk_to_api.js" %}"></script>
    <script src="{% static "js/listing.js" %}"></script>
{% endblock %}
