{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bookAnEntertainer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Book an Entertainer / Act / Musician / Band / Speaker / Comedian for your Event">
    <meta name="author" content="Cormac Liston">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <style>
        img{
            width:100px;
            height:100px;
        }
    </style>
    {% block head_js %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <nav>
        <ul class="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'entertainers' %}">Book An Entertainer</a></li>
            <li><i class="fa fa-star-o fa-3x" aria-hidden="true"></i></li>
            <li>Register</li>
            <li>Login</li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>Built by Cormac Liston</p>
    </footer>
</div>
</body>
</html>